<div class="container container-fluid ">
<app-persontrackingnav></app-persontrackingnav>
  <div class="row">
  <div class="formholder col-8 bg-white rounded  shadow ">
      
      <div class="alert alert-success" role="alert" *ngIf="personStatus">
          New Person added successfully!
      </div>
    <form (ngSubmit) = "addapp(f)" #f="ngForm">
      <div class="form-group" [class.was-validated]="employee_name.touched && !employee_name.valid">
        <label for="emp_name">Employee Name</label>
        <input type="text" class="form-control" id="emp_name" ngModel name="employee_name" #employee_name="ngModel" required>
        <div class="invalid-feedback" *ngIf="employee_name.touched && !employee_name.valid">
            Employee name is required
          </div>
      </div>
      <div class="form-group" [class.was-validated]="phonenumber.touched && !phonenumber.valid">
        <label for="phonenumber" >Phone Number</label>
        <input type="text" class="form-control" id="phonenumber" ngModel name="phonenumber" #phonenumber="ngModel" required  pattern= "(7|8|9)\d{9}">
        <div class="invalid-feedback" *ngIf="phonenumber.touched && !phonenumber.valid">
            Phonenumber is required
          </div>
      </div>
      <div class="form-group" [class.was-validated]="designation.touched && !designation.valid">
        <label for="designation">Designation</label>
        <input type="text" class="form-control" id="designation" ngModel name="designation" #designation="ngModel" required>
        <div class="invalid-feedback" *ngIf="designation.touched && !designation.valid">
            Designation is required
          </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
        Add App
        
      </button>
      <span class="spinner-border text-success align-middle" role="status" [hidden] = "spinner"></span>
    </form>
   
  </div>
  <div class="steps col bg-white rounded  shadow ">
    <ul>
      <li><b><h5>Step1</h5></b>
        Fill in the details, to generate a QR code
      </li>
      <li><b><h5>Step2</h5></b>
        Scan the QR code, with the app to be tracked
      </li>
      <li><b><h5>Step3</h5></b>
      You are Done!
      </li>
    </ul>
  </div>

</div>
</div>