<div class="container container-fluid shadow p-3 mb-5 bg-white rounded " id="main">
  <div class="row " id="siginholder">
    <div class="col">
      <h5>Experience the next generation tracking</h5>
    </div>
    <div class="col">
      <div>
        <h1 class="text-center">Ynep Tracing</h1>
        <h5 class="text-center">Sign in</h5>
          <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="signin()">Sign in</button>
              <button class="btn btn-link">Forgot Password?</button>
            </form>
      </div>

    </div>
  </div>
</div>