<div>
  <div class="d-flex justify-content-between border-bottom shadow-sm mb-1 " id="dashboardheader">
    <div id="dashboardmain">
      <h3>Ynep Tracking</h3>
    </div>
    <div id="dashboardmain">
      <button class="btn btn-primary">signout</button>
    </div>
  </div>
  <div id="dashboard">
    <div class="row">
      <div class="col-2 border-right" id="dasboardnav">
        <div id="dashboarddata">
          <div id="dashboarditem">
            <a routerLink="/home">
              <h5><i class="fas fa-tachometer-alt"></i>Dashboard</h5>
            </a>
          </div>
          <div id="dashboarditem">
            <a routerLink="/home">
              <h5><i class="fas fa-user-circle"></i>Profile</h5>
            </a>
          </div>
          <div id="dashboarditem">
            <a routerLink="/home">
              <h5><i class="fas fa-cog"></i>Config</h5>
            </a>
          </div>
          <div id="dashboarditem">
            <a routerLink="/home">
              <h5><i class="fas fa-hands-helping"></i>Support</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-10 bg-light">
        <div id="dashboarddata">
          <div id="details">
            <div class="row">
              <div class="col-9">
                <div id="map"></div>
              </div>
              <div class="col-3">
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Device ID</h3>
                    <h5>{{ a_id }}</h5>
                    <button class="btn btn-primary" (click)="getdata()">getdata</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Speed</h3>
                    <h5>100 Km/hr</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Vehicle Number</h3>
                    <h5>TN-AZ-666</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>