        <div id="dashboarddata bg-light">
          <div id="details">
            <div class="row">
              <div class="col-9">
                <div id="map"></div>
              </div>
              <div class="col-3">
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Device ID</h3>
                    <h5>{{ a_id }}</h5>
                    <button class="btn btn-primary" (click)="addmarker()">getdata</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Speed</h3>
                    <h5>100 Km/hr</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col bg-white rounded shadow-sm mb1" id="details">
                    <h3>Vehicle Number</h3>
                    <h5>TN-AZ-666</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


