<div class="container container-fluid">
    <app-persontrackingnav></app-persontrackingnav>
    <div class="row">
    <div class="col-12">
        <table class="table table-striped text-center" >
            <thead>
              <tr>
                  <th scope="col">S.No.</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Phone  Number</th>
                <th scope="col">Designation</th>
                <th scope="col">QR code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appDetail of appDetails; let i = index">
                <td>{{ i+1 }}</td>
                <td *ngFor="let details of appDetail" >{{ details }}</td>
                <!-- <td *ngFor="let k of appIds">{{ k }}</td> -->
                <td>  <ngx-qrcode qrc-value = "{{ appId[i] }}" qrc-class = "aclass"qrc-errorCorrectionLevel = "L" ></ngx-qrcode></td>
              </tr>
              
            </tbody>
          </table>
    </div>
    <!-- <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">qr code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of appId">
                 <td><qrcode [qrdata]="{{ i }}" [size]="64" [level]="'H'"></qrcode></td>
                 <td>{{ i }}</td>
              </tr>
            </tbody>
          </table>
    </div> -->


  </div>
</div>