table{
    width:100%;
    padding:0px;
    
    margin: 0.5em 0em 5em 0em;

}
.col-8,.col{
    padding:0px;
    margin: 0px;
}
.fasi{
    font-size: 1em;
    margin: 0.5em;
}
td{
    .btn{
        width : 3em;
        margin: 0.5em;
        padding: 0;
    }
}
.loader{
padding: 5em 0em 5em 0em;
}
