
<div class="container container-fluid scroll">
    <app-persontrackingnav></app-persontrackingnav>
    <div class="row ">
    <div class="col-12 ">
      <div class="scroller">
        <app-adddevice *ngIf = "nodevice"></app-adddevice>
        <table class="table table-striped text-center bg-white rounded  shadow " *ngIf = " hidetable?.val">
            <thead>
              <tr>
                  <th scope="col">S.No.</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Phone  Number</th>
                <th scope="col">Designation</th>
                <th scope="col">QR code</th>
                <th scope="col">Controls</th>
              </tr>
            </thead>
            
            <tbody>
              <!-- <div class="loader d-flex justify-content-center">
                <div> <app-loader2></app-loader2></div>
               
              </div> -->
              <!-- <tr *ngFor="let appDetail of appDetails; let i = index">
                <td class="align-middle">{{ i+1 }}</td>
                <td *ngFor="let details of appDetail" class="align-middle">{{ details }}</td> -->
                <!-- <td *ngFor="let k of appIds">{{ k }}</td> -->
                <!-- <td class="align-middle">  <ngx-qrcode qrc-value = "{{ appId[i] }}" qrc-class = "aclass" qrc-errorCorrectionLevel = "L" ></ngx-qrcode></td>
                <td class="align-middle"><button class="btn btn-success"  (click)="track(appId[i])"><i class="fas fa-map-marker-alt"></i></button><button class="btn btn-warning" (click)="edit(appId[i])"  data-toggle="modal" data-target="#editModal" ><i class="fas fa-user-edit" ></i></button> <button class="btn btn-danger" (click)="delete(appId[i])"  data-toggle="modal" data-target="#deleteModal"><i class="fas fa-user-slash"  ></i></button></td>
              </tr>
              -->
              <tr *ngFor = "let j of appDetails; let i = index">
                <td> {{ i+1 }}</td>
                <td> {{ j.employee_name }}</td>
                <td> {{ j.phonenumber }}</td>
                <td> {{ j.designation }}</td>
                <td> <ngx-qrcode qrc-value = "{{ qrcode[i] }}" qrc-class = "aclass" qrc-errorCorrectionLevel = "L" ></ngx-qrcode></td>
                <td><button class="btn btn-success"  data-placement="top" title="Track" (click)="track(qrcode[i])"><i class="fas fa-map-marker-alt"></i></button><button class="btn btn-warning" (click)="edit(qrcode[i])"  data-toggle="modal" data-target="#editModal" data-placement="top" title="Edit"><i class="fas fa-user-edit" ></i></button> <button class="btn btn-danger" (click)="delete(qrcode[i])"  data-toggle="modal" data-target="#deleteModal" data-placement="top" title="Delete"><i class="fas fa-user-slash"  ></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <!-- <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">qr code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of appId">
                 <td><qrcode [qrdata]="{{ i }}" [size]="64" [level]="'H'"></qrcode></td>
                 <td>{{ i }}</td>
              </tr>
            </tbody>
          </table>
    </div> -->


  </div>

  
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="alter(g)" #g="ngForm">
          <div class="form-group">
            <label for="username">Employee Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" required  appAutofocus [ngModel]="name" name="employee_name" #emp_name="ngModel">
          </div>
          <div class="form-group">
            <label for="username">Phonenumber</label>
            <input type="text" class="form-control" id="name" aria-describedby="phonenumber" [ngModel]="phone" name="phonenumber" #phonenumber = "ngModel" required  >
          </div>
          <div class="form-group">
            <label for="username">Designation</label>
            <input type="text" class="form-control" id="name" aria-describedby="designation" [ngModel]="desig" name="designation" #designation = "ngModel" required >
          </div>
        
          <!-- <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ngModel name="passwrd" #passwrd="ngModel">
          </div> -->
          <!-- <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Register
          </button> -->
      
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >
                  Submit
                </button>
            </div> 
          
        </form>
        </div>
   
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role ="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          
            <h3><span class="badge badge-danger">Warning!</span></h3>
        
            <h5>This action cannot be undone</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" (click) ="remove()">Delete</button>
          </div>
        </div>
      </div>
    </div>