
.welcome-bg-left {
  background-image: linear-gradient(#049e9c, #001e3a);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  height:100vh;
  button {
    margin-right: 2em;
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.welcome-title{
    color: white;
    font-size: 4rem;
}

.welcome-subtitle{
    color: white;
}
.welcome-content{
    margin-left: 10%;
    animation-delay: 0.5s;
}
.welcome-bg-right{
    height: 100vh;
}
@media (max-width: 768px) { 
    .welcome-bg-left {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); 
        width:100%;
    }
    .welcome-bg-right{
        display: none;
        width:0%;
        padding:0px;
        margin:0px;
    }
    .welcome-content{
        margin-left: 0%;
    }
    .img-side{
        display: none;
    }
    .welcome-title,.welcome-subtitle{
       text-align: center;
    }
    .welcome-title{
        font-size: 3rem;
    }
    .welcome-button{
        display: flex;
        button{
            margin-right: 0;
            margin-top: 0.5em;
        }
        justify-content: space-around;
    }

}