
.signin-bg{
    background: linear-gradient(180deg, rgba(2,32,62,1) 0%, rgba(4,93,181,1) 100%);
    height:100vh;
}
.signin-holder{
    height: 100vh;
}
.signin-content{
    width: 100%;
    padding:5em;
    animation-delay: 0.2s;
}
@media (max-width: 767.98px) { 
    .signin-content-left{
        display: none;
    }
    .signin-content{
        padding:1em;
    }
}
.img-compass {
    width:300px;
}