<div class="container container-fluid" id="main">
  <div class="row ">
    <div class="col-4 shadow bg-white rounded profileholder" >
        <div class="imgholder">
            <img src="assets/images/avatar.jpg" alt="" class="img-fluid d-block avatar rounded-circle ">
            <button class="btn btn-primary m-2 ">change profile settings</button>
        </div>
    </div>
    <div class="col shadow  bg-white rounded profileholder d-flex align-items-center" >
      <div >
        <h4 class="text-justify"><b>Username :</b> Jane Doe</h4>
        <h4 class="text-justify"><b>Company :</b> Lorem Ipsum</h4>
        <h4 class="text-justify"><b>Address :</b> Melano Park, California</h4>
        <h4 class="text-justify"><b>Phone No. :</b> +1 12345 67890</h4>
        <h4 class="text-justify"><b>Email :</b> loremipsum@email.com</h4>
      </div>

    </div>
  </div>
</div>