<div class="container container-fluid" id="main">
    <h1>Profile</h1>
    <hr> 
  <div class="row bg-white rounded shadow  " >
    <div class="col-4 profileholder" >
     
        <div class="imgholder">
            <img src="assets/images/avatar.jpg" alt="" class="img-fluid mx-auto d-block avatar rounded-circle ">
            
        </div>
    </div>
    <div class="col profileholder d-flex align-items-center" >
      <div >
     
        <h4 class="text-justify"><b>Username :</b> Jane Doe</h4>
        <h4 class="text-justify"><b>Company :</b> Lorem Ipsum</h4>
        <h4 class="text-justify"><b>Address :</b> Melano Park, California</h4>
        <h4 class="text-justify"><b>Phone No. :</b> +1 12345 67890</h4>
        <h4 class="text-justify"><b>Email :</b> loremipsum@email.com</h4>
        <button class="btn btn-primary">change profile settings</button>
      </div>
    </div>
    

  </div>
</div>