<div class="container container-fluid animated  " id="main">
  <!-- <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading">Loading Awesomeness...</p>
      </ngx-spinner> -->
  <h1><i class="fas fa-user dashi"></i>Profile</h1>
  <hr>
  <!-- <div class="bg-white rounded shadow  d-flex flex-column" >
    <div class="" >
     
        <div class="imgholder profileholder">
           
            <img src="assets/images/avatar.jpg" alt="" class="img-fluid mx-auto d-block avatar rounded-circle ">
            <button class=" btn badge btn-success rounded-circle"  data-toggle="modal" data-target="#exampleModal"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
    <div class=" d-flex align-items-center" >
      <div >
        <h4 class="text-justify"><b>Email :</b> {{ this.data.email_id }}</h4>
        <h4 class="text-justify"><b>Company :</b> {{ company_name }}</h4>
        <h4 class="text-justify"><b>Address :</b> {{ address }}</h4>  
        <h4 class="text-justify"><b>Country :</b> {{ country }}</h4>  
        <h4 class="text-justify"><b>Zipcode :</b> {{ zipcode }}</h4>  
        <h4 class="text-justify"><b>Phone No. :</b>{{ phonenumber }}</h4>
        
      </div>
    </div>
    

  </div>
  <div class="bg-white rounded shadow plans container">
    <div class="plansholder">
        <h3>Your plans</h3>
        <hr>
    </div>
   
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload a photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <button class="btn btn-primary">Choose</button>
        </div>
      </div>
    </div>
  </div> -->
  <div>
    <div class="row">
      <div class="col bg-white rounded card-1 d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div>
            <h3>Details</h3>
          </div>
          <div><button class="btn btn-primary badge badge-1 float-right rounded-circle" data-toggle="modal"
              data-target="#exampleModal"><i class="fas fa-pen"></i></button> </div>

        </div>
       
     
   <div>
     
          <img src="assets/images/avatar.jpg" alt="" class="card-6 img-fluid mx-auto d-block avatar rounded-circle ">
          <!-- <button class=" btn badge btn-success rounded-circle"  ></button> -->
          <h3 class="text-center"><b>{{ company_name }}</b> </h3>
          <h5 class="text-center"><b>Email :</b> {{ email_id }}</h5>
          <h5 class="text-center"><b>Address :</b> {{ address }}</h5>
          <h5 class="text-center"><b>Country :</b> {{ country }}</h5>
          <h5 class="text-center"><b>Zipcode :</b> {{ zipcode }}</h5>
          <h5 class="text-center"><b>Phone No. :</b>{{ phonenumber }}</h5>
        </div>
      </div>
      <div class="col bg-white rounded card-1">
          <div class="d-flex justify-content-between">
              <div>
                <h3>Subscriptions</h3>
              </div>
              <div><button class="btn btn-primary badge badge-1 float-right rounded-circle" data-toggle="modal"
                  data-target="#exampleModal"><i class="fas fa-search"></i></button> </div>
    
            </div><br>
        <div class="card">
          <div class="card-body card-1">
            <h5 class="card-title">Basic <span class="badge badge-success float-right">Active</span></h5>
            People Tracking with xcompass mobile app
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload a photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Example file input</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>