<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="shadow-sm">
    <ul class="sidebar-nav">
      <li><a routerLink="/dashboard" (click)="sideNavCLose()">Home</a></li>
      <li><a routerLink="/dashboard/profile" (click)="sideNavCLose()">Profile</a></li>
      <li><a routerLink="/dashboard/support" (click)="sideNavCLose()">Support</a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-light bg-white shadow-sm border-bottom">
      <div>
        <h3><button class="btn btn-link"> <i class="fas fa-bars menu" (click)="toggle()"></i></button>Ynep Tracking</h3>
      </div>
      <div>
        <h6>{{ time | date: 'hh:mm:ss a' }}</h6>
      </div>

      <div class="d-flex flex-row">
        <button class="btn btn-link"> <i class="fas fa-bell notifications"></i></button>
        <button class="btn btn-link"> <i class="fas fa-cog settings" (click)="settings()"></i></button>
        <button class="btn btn-primary" (click)="signout()">signout</button>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
