/* You can add global styles to this file, and also import other style files */
#main {
  margin-top: 3em;
  z-index: 2;
}

#details{
  padding: 1em;
  margin:0.5em;
}
.bg-light{
  background-color: #eae8eb;
}
