/* You can add global styles to this file, and also import other style files */


#details{
  padding: 1em;
  margin:0.5em;
}
.bg-light{
  background-color: #eae8eb;
}
app-loader{
  z-index: 1000;
}
.spinner-border{
  margin: 0em 1em 0em 1em;
}