<div class="container container-fluid">
  <h1><i class="fas fa-home dashi"></i>Dashboard</h1>
  <hr>
  <div class="row animated ">
    <div class="col rounded device device-1 outer animated flipInX fast card-6">
      <h5>Devices Registered</h5>
      <h2><b>2</b></h2>
    </div>
    <div class="col  rounded device device-2 animated flipInX fast card-6">
      <h5>Devices Active</h5>
      <h2><b>2</b></h2>
    </div>
    <div class="col rounded device device-3 animated flipInX fast card-6">
      <h5>Devices Shutdown</h5>
      <h2><b>0</b></h2>
    </div>
  </div>

  <!-- <div id="dashboarddata">
          <button class="btn btn-primary" (click)="device1()">device 1</button>
          <button class="btn btn-primary" (click)="device2()">device 2</button>
        </div>
      <div>
          <div class="dropdown">
              <button class="btn btn-secondary btn-lg  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
      </div> -->

</div>
