.device{
    margin: 1em;
    padding: 2em;
}


.device-2{
  
    border-radius: 4px;
    border: 2px solid  #0FA275;


  
    color: #0FA275; /*For IE*/
  }
  

  

//devoice3
.device-3{
  
    border-radius: 4px;
    border: 2px solid  #D55151;
 
   

  
    color: #D55151; /*For IE*/
  }
  
  


  .device-1{
  
    border-radius: 4px;
    border: 2px solid  rgb(145, 119, 35) ;
 

  
    color: rgb(145, 119, 35); /*For IE*/
  }
  


