
<div class="register-bg ">
  <div class="container-fluid container d-flex align-items-center register-holder">
    <div class="bg-white rounded register-content animated fadeIn">
    <div class="row">
      <div class="col register-content-left">
  <h1>hello</h1>
      </div>
      <div class="col register-content-right">
          <div>
              <h1 class="text-center">x-compass FMS</h1>
              <h5 class="text-center">Sign in</h5>
                <form>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password">
                      
                    </div>
                    <button type="submit" class="btn btn-primary register-options" (click)="register()">Register</button>
                  </form>
            </div>
      </div>
    </div>
  </div>
  </div>
  </div>