
.register-bg{
    background-image: linear-gradient(#049e9c, #001e3a);
    height:100vh;
}
.register-holder{
    height: 100vh;
}
.register-content{
    width: 100%;
    padding:5em;
    animation-delay: 0.2s;
}
.register-options{
    margin-right: 1em;
}
@media (max-width: 767.98px) { 
    .register-content-left{
        display: none;
    }
    .register-content{
        padding:1em;
    }
}
